# Discord Bot Configuration
DISCORD_TOKEN=your_bot_token_here

YOUTUBE_OAUTH2_TOKEN=can be obtained by turning on the bot and sign in via the command line directly to youtube via google acc with the code shown in the terminal

# Embed Appearance
# Set the main color for the bot's embeds (Hex format). Default is #2f3136
EMBED_COLOR=#2f3136

# Optional (Required for Spotify links)
SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret

# Required for full lyrics fallback
GENIUS_ACCESS_TOKEN=your_genius_client_access_token_here

# Optional (YouTube rate limit bypass for VPS deployment)
YOUTUBE_PO_TOKEN=your_po_token
YOUTUBE_VISITOR_DATA=your_visitor_data