# Discord Bot Token
# Get this from https://discord.com/developers/applications
DISCORD_TOKEN=your_discord_bot_token_here

# Optional: YouTube OAuth2 Refresh Token (to completely bypass VPS 403 "Video requires login" errors)
# If left blank, the bot will print a device login code to the console on startup.
# Once you log in, it will print the refresh token which you can paste here.
YOUTUBE_OAUTH2_TOKEN=
